<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Игра "Дэнсы" | {% block title %}Танцуют все!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('css/reset.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('css/buttons.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('css/app.css') }}" rel="stylesheet" media="screen">
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
