{% extends 'app/base.html.twig' %}

{% block body %}
    {% set currentProfile = app.user ? app.user.profile : null %}
    <div id="wrapper-outer">
        <div id="wrapper-inner">
            <div id="container">
                {% if currentProfile and currentProfile.nextLevel %}
                    <div id="to-next-level-progress">
                        <div style="width: {{ ((currentProfile.exp - currentProfile.level.expNeeded) / (currentProfile.nextLevel.expNeeded - currentProfile.level.expNeeded)) * 100 }}%"></div>
                    </div>
                {% endif %}
                <div class="notifications">
                    {% for label, flashes in app.session.flashBag.all %}
                        {% for flash in flashes %}
                            <div>{{ flash }}</div>
                        {% endfor %}
                    {% endfor %}
                </div>
                {% block content %}
                {% endblock %}

                <br>
            </div>
            {% if is_granted('ROLE_USER') %}
                {% include 'app/partial/_menu.html.twig' %}
                <div>
                    уровень: {{ currentProfile.level.level }}, опыт: {{ currentProfile.exp }}, мани: {{ currentProfile.mani }}, дэнсы: {{ currentProfile.dances }}, рейтинг: {{ currentProfile.rating }}, энергия: {{ currentProfile.energy }}/{{ currentProfile.energyMax }}
                </div>
            {% endif %}
            <div id="footer">
                {% if not is_granted('ROLE_USER') %}
                    <div>
                        <a href="">Соглашение</a>
                    </div>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <div>
                        <a href="{{ path('logout') }}">Выход</a>
                    </div>
                {% endif %}
                <div id="copyright">
                    ©
                    {{ 'now'|date('Y') }}, slavamuravey.
                    <br>
                    16+
                </div>
            </div>
        </div>
    </div>
{% endblock %}