{% extends 'app/layout.html.twig' %}

{% block title %}
    Обучение
{% endblock %}

{% block content %}
    <div class="tutorial-banner">
        баннер, как сутенер едет по трассе
    </div>
    Тебе несказанно повезло! В зимний вечер, возвращаясь с аэропорта, ты встретил
    девушку, которая голосовала на трассе. Она попросила тебя подвезти ее до города.
    В ходе разговора выяснилось, что она жаждит дарить себя миру. Обеспечь красавицу работой!
    <div>
        <br>
        список, где есть эта бабочка
    </div>
    <a href="{{ path('tutorial', {'step': 3}) }}">найти клиента</a>
{% endblock %}