{% extends 'app/layout.html.twig' %}

{% block title %}
    Обучение
{% endblock %}

{% block content %}
    На заправке завязался разговор с одним дальнобойщиком. Ему очень не хватает ласки. Помоги парню!
    <div>
        <br>
        список доступных клиентов, среди которых один единственный дальнобойщик
    </div>
    <a href="{{ path('tutorial', {'step': 4}) }}">свести</a>
{% endblock %}