{% extends 'app/layout.html.twig' %}

{% block title %}
    Обучение
{% endblock %}

{% block content %}
    <div>
        Клиент был в восторге от твоей девочки! Забери награду!
    </div>
    <a href="{{ path('tutorial', {'step': 5}) }}">забрать награду</a>
{% endblock %}