{% extends 'app/layout.html.twig' %}

{% block title %}
    Обучение
{% endblock %}

{% block content %}
    <div class="tutorial-banner">
        баннер, как сутенер ищет ночьную бабочку
    </div>
    Для начала подыщи себе ночьных бабочек!
    <a href="{{ path('tutorial', {'step': 2}) }}">Найти</a>
    <div>
        <br>
        пустой список бабочек
    </div>
{% endblock %}