{% extends 'app/layout.html.twig' %}

{% block title %}
    Обучение
{% endblock %}

{% block content %}
    <div>
        А теперь пришло время заявить о себе! Покажи всем, кто тут папочка!
    </div>
    <a href="{{ path('users_register') }}">представиться</a>
{% endblock %}