{% extends 'app/layout.html.twig' %}

{% block title %}
    Обучение
{% endblock %}

{% block content %}
    <div>
        Какие-то самоуверенные проходимцы решили развести тебя на деньги. Накидай им в кабину, чтоб не выступали!
    </div>
    <a href="{{ path('tutorial', {'step': 7}) }}">Врезать</a>
    <a href="{{ path('tutorial', {'step': 7}) }}">Врезать</a>
{% endblock %}