{% extends 'app/layout.html.twig' %}

{% block title %}
    Баттлы
{% endblock %}

{% block content %}
    <div class="banner">
        баттлы
    </div>
    <div id="battle-container">
        {% for stage in stages %}
            <div>
                <a href="{{ path('battles_stage', {stage: stage.id}) }}">{{ stage.code }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}