{% extends 'app/layout.html.twig' %}

{% block title %}
    Баттлы | Сцена {{ stage.code }}
{% endblock %}

{% block content %}
    <div class="banner">
        сцена {{ stage.code }}
    </div>
    <div class="stage-container">
        <div class="jury">
            <div class="jury-container">
                <div class="jury-name">Фидель</div>
                <div class="jury-box">
                    <img src="{{ asset('images/jury/fidel.jpg') }}" alt="">
                </div>
                {% if userFidelResult is null %}
                    настроение: {{ fidelUserRelation.spiritsText }}
                    <a href="{{ path('battles_spirits_up', {memberUserRelation: fidelUserRelation.id}) }}">поднять</a>
                {% else %}
                    <div>результат: {{ userFidelResult }}</div>
                {% endif %}
            </div>
            <div class="jury-container">
                <div class="jury-name">Алексей Темнаков</div>
                <div class="jury-box">
                    <img src="{{ asset('images/jury/temnakov.jpg') }}" alt="">
                </div>
            </div>
            <div class="jury-container">
                <div class="jury-name">Сеньор Пружинин</div>
                <div class="jury-box">
                    <img src="{{ asset('images/jury/pruzhinin.jpg') }}" alt="">
                </div>
                {% if userSeniorPruzhininResult is null %}
                    настроение: {{ seniorPruzhininUserRelation.spiritsText }}
                    <a href="{{ path('battles_spirits_up', {memberUserRelation: seniorPruzhininUserRelation.id}) }}">поднять</a>
                {% else %}
                    <div>результат: {{ userSeniorPruzhininResult }}</div>
                {% endif %}
            </div>
            <div class="clear"></div>
        </div>
        {% if userFidelResult is null and userSeniorPruzhininResult is null %}
            <a class="button square green" href="{{ path('battles_stage', {stage: stage.id, dance: 1}) }}">Танцевать</a>
            <br>
            <a class="button square red" href="{{ path('tutorial', {step: 1}) }}">Покинуть сцену</a>
            <br>
        {% else %}
            <a class="button square green" href="{{ path('battles_stage', {stage: stage.id}) }}">Снова на сцену</a>
            <br>
        {% endif %}
    </div>
{% endblock %}