{% extends 'app/layout.html.twig' %}

{% block title %}
    Испытания
{% endblock %}

{% block content %}
    <div class="banner">
        достижения
    </div>
    <div id="achievements-container">
        {% for quest, achievementData in achievementsData %}
            {% set achievementParticleData = achievementData.achievementParticleData %}
            {% set achievementQuestUserRelation = achievementData.achievementQuestUserRelation %}
            <div class="block">
                <div class="block-divider">
                </div>
                <div class="block-header">
                    <h3>{{ quest }}</h3>
                </div>
                <div class="quest">
                    <div class="info {% if achievementQuestUserRelation.isCurrent %}current{% endif %}">
                        <p>{{ quest }}</p>
                        {% for achievementParticleDataItem in achievementParticleData %}
                            <div class="particle">
                                <i class="icon checkbox {{ achievementParticleDataItem.done ? 'checked' : 'unchecked' }}">{{ achievementParticleDataItem.code }}</i>
                                <span>{{ achievementParticleDataItem.currentValue }}/{{ achievementParticleDataItem.requiredVolume }}</span>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="reward">
                        <span>Награда:</span>
                        {% include 'app/partial/_params.html.twig' with {params: achievementQuestUserRelation.achievementQuest.reward} %}
                        {% if achievementQuestUserRelation.isDone %}
                            <a class="button square green" href="{{ path('quests_get_reward', {achievementQuestUserRelation: achievementQuestUserRelation.id}) }}">Забрать награду</a>
                        {% elseif not achievementQuestUserRelation.isCurrent %}
                            <a class="button square blue" href="{{ path('quests_subscribe', {achievementQuest: achievementQuestUserRelation.achievementQuest.id}) }}">Участвовать</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}