html, body {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 1000px;
    margin: 0 auto;
}

#admin-entry {
    margin: 0 auto;
    width: 300px;
}

.clear-both {
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.menu span {
    margin: 5px;
}

#error-message {
    color: red;
}

#admin-welcome {
    text-align: center;
}

#image_form {
    width: 300px;
    margin: 0 auto;
}

#article_type button {
    margin: 5px 0;
}

#image_type input {
    margin: 5px 0;
}

#images_list {
    width: 300px;
    margin: 0 auto;
}

.img {
    margin: 10px;
}

#image_form ul li {
    color: red;
}

#success-message {
    color: green;
    margin: 20px;
    text-align: center;
}