html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
    font-size: 12px;
    color: #27255a;
}

#wrapper-outer {
    background: #000;
    width: 100%;
    min-height: 100%;
}

#wrapper-inner {
    width: 320px;
    margin: 0 auto;
    height: 100%;
}

#container {
    border-radius: 5px;
    box-shadow: 0 0 50px #c100ee;
    background: #fff;
    width: 100%;
}

#auth {
    width: 250px;
    margin: 0 auto;
}

#auth input {
    width: 100%;
}

#entry-banner {
    width: 100%;
    height: 160px;
    background: url('../images/main-logo.jpg') 0 0 no-repeat;
    background-size: cover;
}

#slogan {
    font-size: 16px;
    text-align: center;
    padding: 10px;
}

.tutorial-banner {
    width: 100%;
    height: 100px;
    background: #ccc;
    border-bottom: 2px solid blue;
}

.client {
    float: left;
    height: 77px;
    position: relative;
    width: 77px;
    margin: 0 3px 3px 0;
    padding: 0 0 1px;
    background: #ccc;
}

#select-client {
    float: left;
    height: 77px;
    position: relative;
    width: 77px;
    margin: 0 3px 3px 0;
    padding: 0 0 1px;
    background: #aaa;
}

#select-client > a, .client > a {
    width: 100%;
    height: 100%;
    display: block;
}

.banner {
    width: 100%;
    height: 100px;
    background: #ccc;
    border-bottom: 2px solid blue;
}

.clear {
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
}

.client-type {
    min-height: 20px;
    background: #aaa;
    border-bottom: 2px solid yellow;
}

input {
    border: 1px solid black;
}

#footer {
    padding-top: 20px;
    text-align: center;
}

#footer a {
    color: white;
}

#copyright {
    padding: 10px 0;
    color: #5e5e5e;
}

#in-dance-now {
    padding: 10px 0;
    font-size: 12px;
}

.block-header {
    color: white;
    height: 30px;
    line-height: 30px;
    text-align: left;
    padding-left: 10px;
    background: #33315a url("../images/img-footer.png") no-repeat right 0;
    background-size: contain;
}

.block-header h3 {
    margin: 0;
}

.block-divider {
    height: 5px;
    box-shadow: 0 2px 4px #000000;
    position: relative;
    z-index: 10;
    background: rgba(168,165,168,1);
    background: -moz-linear-gradient(-45deg, rgba(168,165,168,1) 0%, rgba(254,254,254,1) 23%, rgb(159, 140, 173) 53%, rgba(255,255,255,1) 77%, rgba(235,235,235,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(168,165,168,1)), color-stop(23%, rgba(254,254,254,1)), color-stop(53%, rgb(159, 140, 173)), color-stop(77%, rgba(255,255,255,1)), color-stop(100%, rgba(235,235,235,1)));
    background: -webkit-linear-gradient(-45deg, rgba(168,165,168,1) 0%, rgba(254,254,254,1) 23%, rgb(159, 140, 173) 53%, rgba(255,255,255,1) 77%, rgba(235,235,235,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(168,165,168,1) 0%, rgba(254,254,254,1) 23%, rgb(159, 140, 173) 53%, rgba(255,255,255,1) 77%, rgba(235,235,235,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(168,165,168,1) 0%, rgba(254,254,254,1) 23%, rgb(159, 140, 173) 53%, rgba(255,255,255,1) 77%, rgba(235,235,235,1) 100%);
    background: linear-gradient(135deg, rgba(168,165,168,1) 0%, rgba(254,254,254,1) 23%, rgb(159, 140, 173) 53%, rgba(255,255,255,1) 77%, rgba(235,235,235,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a5a8', endColorstr='#ebebeb', GradientType=1 );
}

#main-img {
    margin: 10px;
    height: 100px;
    width: 100%;
    background: url('../images/main-image.png') center no-repeat;
    background-size: contain;
}

#to-next-level-progress {
    height: 5px;
    background: grey;
}

#to-next-level-progress > div {
    background: #c100ee;
    height: 100%;
}

#autograph-to-next-city-progress {
    height: 5px;
    background: grey;
}

#autograph-to-next-city-progress > div {
    background: #a30d22;
    height: 100%;
}

.jury-container {
    float: left;
    width: 100px;
    margin: 2px;
}

.jury-box {
    width: 100px;
    height: 100px;
    background: paleturquoise;
}

.jury-name {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 40px;
    width: 100px;
}

.jury {
    padding: 0 4px;
}

.jury-box img {
    width: 100%;
}

.quest .info {
    padding: 5px;
}

.quest .info.current {
    background: rgb(255, 255, 143);
}

.particle {
    padding: 3px 0;
}

.quest .particle span {
    float: right;
    line-height: 24px;
}

.quest .reward {
    padding: 5px;
    background: #e5c7ff;
}

.quest .reward span {
    font-size: 14px;
    font-weight: bold;
}

.crowd-person {
    padding: 0 4px;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

#main-menu {
    width: 279px;
    margin: 0 auto;
}

i.icon {
    padding-left: 33px;
    line-height: 30px;
    height: 30px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

i.icon.exp {
    background-image: url('../images/params/exp.png');
}

i.icon.dances {
    background-image: url('../images/params/dances.png');
}

i.icon.mani {
    background-image: url('../images/params/mani.png');
}

i.icon.checked {
    background-image: url('../images/checked.png');
}

i.icon.unchecked {
    background-image: url('../images/unchecked.png');
}