/* button */
.button {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 10px 75px;
    margin: 0 20px;
    filter: dropshadow(color=#595959, offx=1, offy=1);
    text-decoration: none;
    display: block;
    text-align: center;
    cursor: pointer;
}

.menu-button {
    width: 87px;
    height:87px;
    margin: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    filter: dropshadow(color=#595959, offx=1, offy=1);
    text-decoration: none;
    display: block;
    text-align: center;
    float: left;
    cursor: pointer;
}

.autograph-button {
    width: 98px;
    height:98px;
    margin: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    filter: dropshadow(color=#595959, offx=1, offy=1);
    text-decoration: none;
    display: block;
    text-align: center;
    float: left;
    cursor: pointer;
}

/* button shapes */
.square {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.rounded {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

/* button colors */
.yellow {
    border: solid 1px #ff6f3c;
    background-color: #ffd708;
    background: -moz-linear-gradient(top, #ffd708 0%, #ffad40 100%);
    background: -webkit-linear-gradient(top, #ffd708 0%, #ffad40 100%);
    background: -o-linear-gradient(top, #ffd708 0%, #ffad40 100%);
    background: -ms-linear-gradient(top, #ffd708 0% ,#ffad40 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffad40', endColorstr='#ffad40',GradientType=0 );
    background: linear-gradient(top, #ffd708 0% ,#ffad40 100%);
    -webkit-box-shadow: 0px 0px 1px #fffd84, inset 0px 0px 1px #FFFFFF;
    -moz-box-shadow: 0px 0px 1px #fffd84, inset 0px 0px 1px #FFFFFF;
    box-shadow: 0px 0px 1px #fffd84, inset 0px 0px 1px #FFFFFF;
}

.violet {
    border: solid 1px #72006e;
    background-color: #724871;
    background: -moz-linear-gradient(top, #724871 0%, #722f6d 100%);
    background: -webkit-linear-gradient(top, #724871 0%, #722f6d 100%);
    background: -o-linear-gradient(top, #724871 0%, #722f6d 100%);
    background: -ms-linear-gradient(top, #724871 0% ,#722f6d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#722f6d', endColorstr='#722f6d',GradientType=0 );
    background: linear-gradient(top, #724871 0% ,#722f6d 100%);
    -webkit-box-shadow: 0px 0px 1px #ff00e0, inset 0px 0px 1px #FFFFFF;
    -moz-box-shadow: 0px 0px 1px #ff00e0, inset 0px 0px 1px #FFFFFF;
    box-shadow: 0px 0px 1px #ff00e0, inset 0px 0px 1px #FFFFFF;
}

.blue {
    border: solid 1px #004F72;
    background-color: #3BA4C7;
    background: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
    background: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
    background: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
    background: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 );
    background: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
    -webkit-box-shadow: 0px 0px 1px #00CCFF, inset 0px 0px 1px #FFFFFF;
    -moz-box-shadow: 0px 0px 1px #00CCFF, inset 0px 0px 1px #FFFFFF;
    box-shadow: 0px 0px 1px #00CCFF, inset 0px 0px 1px #FFFFFF;
}

.green {
    border: solid 1px #3b7200;
    background-color: #88c72a;
    background: -moz-linear-gradient(top, #88c72a 0%, #709e0e 100%);
    background: -webkit-linear-gradient(top, #88c72a 0%, #709e0e 100%);
    background: -o-linear-gradient(top, #88c72a 0%, #709e0e 100%);
    background: -ms-linear-gradient(top, #88c72a 0% ,#709e0e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#709e0e', endColorstr='#709e0e',GradientType=0 );
    background: linear-gradient(top, #88c72a 0% ,#709e0e 100%);
    -webkit-box-shadow: 0px 0px 1px #66FF00, inset 0px 0px 1px #FFFFFF;
    -moz-box-shadow: 0px 0px 1px #66FF00, inset 0px 0px 1px #FFFFFF;
    box-shadow: 0px 0px 1px #66FF00, inset 0px 0px 1px #FFFFFF;
}

.red {
    border: solid 1px #720000;
    background-color: #c72a2a;
    background: -moz-linear-gradient(top, #c72a2a 0%, #9e0e0e 100%);
    background: -webkit-linear-gradient(top, #c72a2a 0%, #9e0e0e 100%);
    background: -o-linear-gradient(top, #c72a2a 0%, #9e0e0e 100%);
    background: -ms-linear-gradient(top, #c72a2a 0% ,#9e0e0e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e0e0e', endColorstr='#9e0e0e',GradientType=0 );
    background: linear-gradient(top, #c72a2a 0% ,#9e0e0e 100%);
    -webkit-box-shadow: 0px 0px 1px #FF3300, inset 0px 0px 1px #FFFFFF;
    -moz-box-shadow: 0px 0px 1px #FF3300, inset 0px 0px 1px #FFFFFF;
    box-shadow: 0px 0px 1px #FF3300, inset 0px 0px 1px #FFFFFF;
}

.gray {
    border: solid 1px #333333;
    background-color: #8f8f8f;
    background: -moz-linear-gradient(top, #8f8f8f 0%, #616161 100%);
    background: -webkit-linear-gradient(top, #8f8f8f 0%, #616161 100%);
    background: -o-linear-gradient(top, #8f8f8f 0%, #616161 100%);
    background: -ms-linear-gradient(top, #8f8f8f 0% ,#616161 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#616161', endColorstr='#616161',GradientType=0 );
    background: linear-gradient(top, #8f8f8f 0% ,#616161 100%);
    -webkit-box-shadow: 0px 0px 1px #999999, inset 0px 0px 1px #FFFFFF;
    -moz-box-shadow: 0px 0px 1px #999999, inset 0px 0px 1px #FFFFFF;
    box-shadow: 0px 0px 1px #999999, inset 0px 0px 1px #FFFFFF;
}
