<br>
<br>
<div id="main-menu">
    <a class="menu-button square violet" href="{{ path('clients') }}">Клиенты</a>
    <a class="menu-button square violet" href="{{ path('things') }}">Наряды</a>
    <a class="menu-button square violet" href="{{ path('battles') }}">Баттлы</a>
    <a class="menu-button square violet" href="{{ path('autograph') }}">Автографы</a>
    <a class="menu-button square violet" href="{{ path('profile') }}">Профиль</a>
    <a class="menu-button square violet" href="{{ path('quests') }}">Испытания</a>
    <a class="menu-button square violet" href="{{ path('users_list') }}">Игроки</a>
    <div class="clear"></div>
</div>