{% set paramsData = [] %}
{% for entityClass, entityParams in params %}
    {% for entityParamCode, entityParamValue in entityParams %}
        {% set paramsData = paramsData|merge([include('app/partial/_param_icon.html.twig', {code: entityParamCode, value: entityParamValue})]) %}
    {% endfor %}
{% endfor %}
{{ paramsData|join(', ')|raw }}