{% extends 'app/layout.html.twig' %}

{% block title %}
    Клиенты
{% endblock %}

{% block content %}
    <div class="banner">
        клиенты
    </div>
    <div id="clients-container">
        {% for userClientRelation in userClientRelations %}
            <div class="client">
                {% if not userClientRelation.isTimeAwards() %}
                    <div>{{ userClientRelation.rewardTime|time_diff }}</div>
                {% else %}
                    <a href="{{ path('clients_get_reward', {userClientRelation: userClientRelation.id}) }}">finished</a>
                {% endif %}
                <a href="{{ path('clients_come_out', {userClientRelation: userClientRelation.id}) }}"></a>
            </div>
        {% endfor %}
        <div id="select-client">
            <a href="{{ path('clients_select') }}"></a>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}