{% extends 'app/layout.html.twig' %}

{% block title %}
    Клиенты | Выбор клиента
{% endblock %}

{% block content %}
    <div class="banner">
        выбери клиента
    </div>
    <div id="clients-types-container">
        {% for client in clients %}
            <div class="client-type">
                <div>{{ client.code }}</div>
                <div>стоимость: {{ client.cost | json_encode }}</div>
                <div>время созревания (сек): {{ client.rewardPeriodSeconds }}</div>
                <div>награда: {{ client.reward | json_encode }}</div>
                <a class="add-client" href="{{ path('clients_add', {'client': client.id}) }}">добавить</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}