{% if crowdPersonsUserRelation.isDisabledAll() or crowdPersonsUserRelation.isDisabled(place) %}
    {% include 'app/autograph/partial/crowd_person.html.twig' %}
{% else %}
    <a href="{{ path('autograph_place', {place: place}) }}">
        {% include 'app/autograph/partial/crowd_person.html.twig' %}
    </a>
{% endif %}