{% set crowdPerson = crowdPersonsUserRelation.crowdPerson(place) %}
<div class="autograph-button square
{% if not crowdPersonsUserRelation.isDisabledAll() and not crowdPersonsUserRelation.isDisabled(place) %}
    {% if crowdPerson %}
        {% if crowdPerson.type == c.HATER_TYPE %}
            red
        {% elseif crowdPerson.type == c.FAN_TYPE %}
            green
        {% elseif crowdPerson.type == c.PRODUCER_TYPE %}
            yellow
        {% endif %}
    {% else %}
        green
    {% endif %}
{% else %}
    gray cursor-default
{% endif %}
">
    {{ crowdPerson ? crowdPerson.code : 'exit' }}
</div>