{% extends "admin/base.html.twig" %}
{% block title %}
    Вход в панель управления
{% endblock %}
{% block body %}
    <div id="admin-entry">
    <h1>Вход в панель управления</h1>
    {% if error %}
        <div id="error-message">Неверый логин или пароль!</div>
    {% endif %}

    <form action="{{ path('admin_login_check') }}" method="post">
        <label for="username">Логин:</label>
        <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" />

        <label for="password">Пароль:</label>
        <input type="password" id="password" class="form-control" name="_password" />
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

        {#
            If you want to control the URL the user
            is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account" />
        #}

        <br />
        <button type="submit" class="btn btn-default">Войти</button>
    </form>
    </div>
{% endblock %}