{% extends 'app/layout.html.twig' %}

{% block title %}
    Наряды - Категории
{% endblock %}

{% block content %}
    <div class="banner">
        Наряды - Категории
    </div>
    <div>
        <img src="{{ path('avatar', {profile: profile.id, avatar: profile.avatar}) }}">
    </div>
    <div>
        Категория: {{ category.name }}
    </div>
    <div id="things-category-container">
        {% for thingData in thingsData %}
            <div class="thing">
                <span>{{ thingData.code }}</span>
                {% if not thingData.rel_id %}
                    <a href="{{ path('things_buy', {thing: thingData.id}) }}">купить</a>
                {% else %}
                    {% if thingData.wearing %}
                        <a href="{{ path('things_take_off', {userProfileUserThingRelation: thingData.rel_id}) }}">снять</a>
                    {% else %}
                        <a href="{{ path('things_wear', {userProfileUserThingRelation: thingData.rel_id}) }}">надеть</a>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}