{% extends 'app/layout.html.twig' %}

{% block title %}
    Наряды
{% endblock %}

{% block content %}
    <div class="banner">
        наряды
    </div>
    <div>
        <img src="{{ path('avatar', {profile: profile.id, avatar: profile.avatar}) }}">
    </div>
    {% for category in categories %}
        <div>
            <a href="{{ path('things_category', {category: category.id}) }}">{{ category.name }}</a>
        </div>
    {% endfor %}
{% endblock %}