{% extends 'app/layout.html.twig' %}

{% block title %}
    Игроки
{% endblock %}

{% block content %}
    <div class="banner">
        игроки
    </div>
    <div id="users-container">
        {% for user in users %}
            <div class="user">
                <a href="{{ path('profile', {profile: user.profile.id}) }}">{{ user.username }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}