{% extends 'app/layout.html.twig' %}

{% block title %}
    Регистрация
{% endblock %}

{% block content %}
    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.user.username) }}
        {{ form_row(form.user.password) }}
        {{ form_row(form.user.profile.sex) }}

        {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}