{% extends 'app/layout.html.twig' %}

{% block title %}
    Автографы
{% endblock %}

{% block content %}
    <div class="banner">
        автографы
    </div>
    <div class="autographs-container">
        Город: {{ crowdPersonsUserRelation.city.number }}
        Усилия охраны: {{ crowdPersonsUserRelation.securityEnergy }}
        <div class="crowd-person">
            {% include 'app/autograph/partial/crowd_person_wrapped.html.twig' with {place: 1} %}
            {% include 'app/autograph/partial/crowd_person_wrapped.html.twig' with {place: 2} %}
            {% include 'app/autograph/partial/crowd_person_wrapped.html.twig' with {place: 3} %}
            <div class="clear"></div>
        </div>
        <div id="autograph-to-next-city-progress">
            <div style="width: {{ (crowdPersonsUserRelation.maxSteps / crowdPersonsUserRelation.city.steps) * 100 }}%"></div>
        </div>
        <div>
            <div>Получено от фанатов:</div>
            мани: {{ crowdPersonsUserRelation.bag.mani }}
        </div>
        {% if crowdPersonsUserRelation.isDisabledAll() %}
            <a class="button square green" href="{{ path('autograph_buy_security_energy') }}">Повысить усилия охраны на {{ crowdPersonsUserRelation.rewardSecurityEnergy }} за {{ crowdPersonsUserRelation.costDances }} дэнсов</a>
            <br>
            <a class="button square red" href="{{ path('autograph_escape') }}">Бросить подарки и убежать!</a>
        {% else %}
            <a class="button square blue" href="{{ path('autograph_take_bag') }}">Уйти с подарками</a>
        {% endif %}
    </div>
{% endblock %}