{% extends 'app/layout.html.twig' %}

{% block title %}
    Достижения
{% endblock %}

{% block content %}
    <div class="banner">
        достижения
    </div>
    <div id="achievements-container">
        {% for status, achievementData in achievementsData %}
            {% set achievementParticleData = achievementData.achievementParticleData %}
            {% set achievementStatusUserRelation = achievementData.achievementStatusUserRelation %}
            <div class="status">
                <div>
                    <b>
                        {{ status }}
                        <span>выполнено: {{ achievementStatusUserRelation.isDone ? 1 : 0 }}</span>
                    </b>
                </div>
            {% for achievementParticleDataItem in achievementParticleData %}
                <div>
                <span>{{ achievementParticleDataItem.code }}</span>   <span>{{ achievementParticleDataItem.currentValue }}/{{ achievementParticleDataItem.requiredVolume }}</span>
                </div>
            {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}