{% extends 'app/layout.html.twig' %}

{% block title %}
    Профиль игрока
{% endblock %}

{% block content %}
    <div class="banner">
        профиль
    </div>
    <div>
        <img src="{{ path('avatar', {profile: profile.id, avatar: profile.avatar}) }}">
    </div>
    <div id="profile-container">
        <div>мани: {{ profile.mani }}</div>
        <div>дэнсы: {{ profile.dances }}</div>
        <div>имя: {{ profile.name }}</div>
        <div>дата рождения: {{ profile.birthDate | date }}</div>
        <div>телефон: {{ profile.phone }}</div>
        <div>email: {{ profile.email }}</div>
        <div>пол: {{ profile.sex }}</div>
        <div>опыт: {{ profile.exp }}</div>
    </div>
    <div id="statuses-container">
        {% for statusData in statusesData %}
            <div class="user-status">
                <span>{{ statusData.code }}</span>   <span>{{ statusData.done ? 1 : 0 }}</span>
            </div>
        {% endfor %}
    </div>
{% endblock %}