{% extends 'app/layout.html.twig' %}

{% block title %}
    Вход в игру
{% endblock %}

{% block content %}
    <div>
        <div id="entry-banner">
        </div>
        <div id="main-img"></div>
        <div id="slogan">
            Раскрой себя в мире танцев, почувствуй свободу движения!
            <div id="in-dance-now">
                сейчас в танце (5468)
            </div>
            <a class="button square green" href="{{ path('tutorial', {step: 1}) }}">Начать игру</a>
        </div>

        <div class="block">
            <div class="block-divider">
            </div>
            <div class="block-header">
                <h3>Вход в игру</h3>
            </div>
            <div id="auth">
                {% if error %}
                    <div id="error-message">Неверый логин или пароль!</div>
                {% endif %}

                <form action="{{ path('login_check') }}" method="post">
                    <div>
                        <label for="username">Логин:</label>
                        <br>
                        <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}"/>
                    </div>
                    <div>
                        <label for="password">Пароль:</label>
                        <br>
                        <input type="password" id="password" class="form-control" name="_password"/>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                    <br/>
                    <button class="button square violet" type="submit">Войти</button>
                    <br>
                </form>
            </div>
            <div class="block-divider">
            </div>
        </div>

    </div>
{% endblock %}